<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CRUD NODEJS / EXPRESS / MOGODB</title>
</head>
<body>

    <h2>Student Register<h2>
    <form action="/show" method="POST">
        <input type="text" placeholder="Name" name="name">
        <input type="text" placeholder="Surname" name="surname">
        <br>
        <input type="text" placeholder="Course" name="course">
        <input type="text" placeholder="Student ID" name="studentid">
        <br>
        <button type="submit">Submit</button>
    </form> 

</body>
</html>